// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$black: #0d1821ff;
$ming: #9fffcbff;
$aquamarine: #15616dff;
$almond: #ffecd1ff;
$platinum: #eaeaeaff;
$dark-green: #1E4332;
$light-green: #71DB98;
