.customer-card-show {
  background-color: $light-green;
  padding: 16px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
}
.customer-card-details h1 {
  font-size: 2rem;
  color: $black;
}
.customer-card-details p, a, i {
  font-size: 1rem;
  color: $black;
}

.customer-card-details i {
  font-size: 1rem;
  color: $dark-green;
}

.customer-card-contact-details {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid $dark-green;
  padding: 10px;
  margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

  p {
    margin-bottom: 5px;
  }
}
.customer-card-products {
  background-color: $dark-green;
  padding: 16px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  p, h2, li {
    color: $platinum;

  }
  i {
    color: $platinum;
      &:hover {
      color: $light-green
    }
  }
}



.customer-card-notes {
  border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid $light-green;
    padding: 16px;
    height: auto;

}
.customer-edit-icon, .customer-delete-icon {
float: right;
margin-right: 10px;
i {
  color: $dark-green;
&:hover{
  color: $platinum
}
}
}

#edit-products {
  color: $platinum
}
