#folder-tag {
  width: auto;
  height: auto;
  background-color: $dark-green;
  color: $platinum;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px 16px;
  margin: 16px;
}

.folder-selected {
 background-color: $light-green !important;
 color: $black !important;
}

#customers-container {
  display: flex;
  flex-wrap: wrap;
}
