// Specific CSS for your home-page
.container-fluid.home{
  margin: 0px;
  padding: 0px;
  text-align: -webkit-center;
}

.container-fluid.home.home-visitor{
  height: 100vh;
  background-image: url(asset_path("leaves"));
  background-image: cover;
  color: $platinum;
}

.home-content-visitor{
  width: 100vw;
  text-align: center;
  height: 20vh;
  background-color: #0d18214a;
  padding-top: 16px;

  margin-bottom: 20px;
}

.carousel {
  height: 80vh;
  i {
    color: $platinum;
    margin: 10px;
}
}

.banner {
  display: inline-block;
  background-size: cover;
  padding: 10px 0px;
  width: 100vw;
  margin: 0px 20px;
}

  img{
    float: left;
    width: 60%;
    padding: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid $light-green;
    border-radius: 10px;
    background-color: #0d18214a;


  }

  .banner-text {
  width: 40%;
  margin-top: 250px;
  float: right;
  h2{
    background-color: #0d18214a;
    padding: 20px;
  }
  }

