// Specific CSS for your home-page
.container-fluid.home{
  margin: 0px;
  padding: 0px;
  text-align: -webkit-center;
}

.container-fluid.home.home-visitor{
  height: 100vh;
  background-image: url(asset_path("leaves"));
  background-image: cover;
  color: $platinum;

// background-color: $light-green;
}

.home-content-visitor{
  // display: flex;
  width: 100vw;
  text-align: center;
  // position: sticky;
  // top: 0;
  height: 20vh;
  background-color: #0d18214a;
  padding-top: 16px;

  margin-bottom: 20px;
}

.carousel {
  height: 80vh;
  i {
    color: $platinum;
}
  // height: 85vh;

}

// .banners{
//   height: 80vh;
//   // background-color: $dark-green;
// }
.banner {
  display: inline-block;
  background-size: cover;
  padding: 10px 0px;
  // height: 70vh;
  width: 100vw;
  // margin-top: 0px;
  // margin-bottom: 20px;
}

.sick-slider{
  // height: 70vh;
}
.frame {
  // height: 70vh;
  // width: 100vw;
  padding: 16px;
  background-color: $light-green;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}

.banner-text {
  color: $platinum;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  position: relative;
  padding: 20px;
  text-align: right;
  width: 50%;
  float: right;
  margin-top: -140px;
}


img {
  object-fit: cover;
  max-width:100%;
  max-height:100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
