.select2-container .select2-selection--single {
height: 38px;
border-radius: 5px;
// width: 100%;
border: 1px solid #ced4da;
padding-top: 3px;
// padding: 0.375rem 0.75rem;
color: #495057;



// display: block;
//     width: 100%;
//     height: calc(1.5em + 0.75rem + 2px);
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #495057;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid #ced4da;
//     border-radius: 5px;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
