<div class="container-fluid">
<div class="row">
  <div class="col-10 offset-1">
<h2>Pro Sidebar</h2>
      <hr>

        <h3>fffff,l;dddddmfkdlsfmkskmfslkfmsf
        lkdmfskl
      fmdfklfmdskl
    fmflkmfkdlfmdf

  lkfsfflmkmfkfmf
lsfmdlmkfmflfmffk
fopwcpjkefwp</h3>
  </div>

</div>
</div>



