.btn-dark-green {
  background-color: $dark-green;
  border: none;
  color: $platinum;
  &:hover{
    background-color: $platinum;
    color: $dark-green;
    border:none
  }
  &:focus{
    background-color: $platinum;
    color: $dark-green;
    border:none;
  }
}

.btn-light-green {
  background-color: $light-green;
  color: $dark-green;
  border: none;
  &:hover{
background-color: $platinum;
color: $dark-green;
border:none;
  }
  &:focus{
  background-color: $platinum;
  color: $dark-green;
  border:none;
  }
}

.btn-platinum {
  background-color: $platinum;
  color: $dark-green;
  border: none;
  &:hover{
background-color: $light-green;
color: $dark-green;
border:none
  }
    &:focus{
background-color: $light-green;
color: $dark-green;
  border:none;
  }
}
