.btn-dark-green {
  background-color: $dark-green;
  border: none;
  &:hover{
background-color: $platinum;
color: $dark-green;
  }
}

.btn-light-green {
  background-color: $light-green;
  color: $dark-green;
  border: none;
  &:hover{
background-color: $platinum;
color: $dark-green;
  }
}

.btn-platinum {
  background-color: $platinum;
  color: $dark-green;
  border: none;
  &:hover{
background-color: $light-green;
color: $dark-green;
  }
}
