.index-customer-card {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid $light-green;
  border-radius: 5px;
  padding: 20px;

}

.index-customer-card h3 a {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  &:hover{
    color: $light-green;
  }
}

.index-customer-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $black;
}

.index-customer-card > .index-customer-products {
  border: 1px solid $light-green;
  border-radius: 5px;
  padding: 5px 0px;
  margin-top: 10px;
  ul{
    padding-inline-start: 27px;
    margin-bottom: 0px
  }
li {
  color: $light-green;
  line-height: 0px;
}
p {
  margin-top: 0px;
}
}
