.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 000;
      background-image: linear-gradient(to bottom right, $dark-green, #1f2321d4);
    color: $platinum;
    transition: all 0.3s;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#sidebarCollapse {
  background-color: $dark-green;
  border-radius: 6px;
  color: white;
  border: none;
  &:hover {
    background-color: $light-green;
    color: $dark-green;
    border:none;
  }
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content.active {
    width: 100%;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

body {
  background: #fafafa;
}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    color: $platinum;
}

#sidebar .sidebar-header {
    // background: $dark-green;
    background-image: asset-url('leaves.webp');
    background-position: center;
    background-size: cover;
    height: 150px;
    text-align: center;
    padding-top: 75px
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #71db9863;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: $platinum;

}
#sidebar ul li a:hover {
    color: $dark-green;
    background: $light-green;
    i {
    color: $light-green;
    background: $dark-green;
    }
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: $dark-green;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $dark-green;
}

#sidebar i {
  color: $dark-green;
  padding:5px;
  border-radius: 15%;
  background: $light-green;
  margin-right: 10px;
}

#sidebar h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  padding-left: 10px;
  border-top: 1px solid #71db9863;
  padding-top: 20px;
}

.link-navbar a{
  color: $platinum;
  font-size: 0.8em;
  &:hover {
    color: $light-green
  }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
