<div class="container-fluid">
  <div class="row">
    <div class="col-8">

<%= simple_form_for [ @customer, @customer_product ], validate: true do |f| %>
<%= f.input :quantity %>
<%= f.association :product, collection: current_user.products %>

<%= f.submit "Add this product", class: "btn btn-dark-green" %>
<% end %>

    </div>
  </div>
</div>
