<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="forms-container">

<%= simple_form_for @product, validate: true do |f| %>
<%= f.input :name %>
<%= f.submit "Save this product", class: "btn btn-dark-green" %>
<% end %>
</div>
    </div>
  </div>
</div>
